[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates

*.nupkg
/packages/
/node_modules/

/downloads/
/temp/
*.mp3
*.webm
*.m4a
*.mp4

ffmpeg.exe
ffprobe.exe
yt-dlp.exe

*.db
*.db-shm
*.db-wal

appsettings.Development.json
appsettings.json
.env